<div class="row mb-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
    <p>{{comments.length}} 已評論餐廳</p>
    <p>{{favoritedRestaurantsData.length}} 收藏的餐廳</p>
    <p>{{followersData.length}} followers（追蹤者）</p>
    <p>{{followingsData.length}} followings（追隨的人）</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>

  <hr>
</div>

<!-- Section for displaying restaurant thumbnails -->
<p>{{comments.length}} 已評論餐廳</p>
<div class="row">
  {{#if comments.length}}
  {{#each comments}}
  <div class="col-1 mb-3">
    <a href="/restaurants/{{this.Restaurant.id}}">
      <img src="{{this.Restaurant.image}}" alt="{{this.Restaurant.name}}" class="img-thumbnail">
    </a>
  </div>
  {{/each}}
  {{else}}
  <div class="col-12">
    <p>目前沒有評論任何餐廳。</p>
  </div>
  {{/if}}
</div>

{{!-- {{this.FavoritedRestaurants.id}} 有可能寫得更精簡嗎？ --}}
<p>{{favoritedRestaurantsData.length}} 收藏的餐廳</p>
<div class="row">
  {{#if favoritedRestaurantsData.length}}
  {{#each favoritedRestaurantsData}}
  <div class="col-1 mb-3">
    <a href="/restaurants/{{this.FavoritedRestaurants.id}}">
      <img src="{{this.FavoritedRestaurants.image}}" alt="{{this.FavoritedRestaurants.name}}" class="img-thumbnail">
    </a>
  </div>
  {{/each}}
  {{else}}
  <div class="col-12">
    <p>目前沒有收藏的餐廳</p>
  </div>
  {{/if}}
</div>

{{!-- {{this.Followers.id}} 有可能寫得更精簡嗎？ 該不會也要 data.rows.map(comment...) --}}
<p>{{followersData.length}} follower（追蹤者）</p>
<div class="row">
  {{#if followersData.length}}
  {{#each followersData}}
  <div class="col-1 mb-3">
    <a href="/restaurants/{{this.Followers.id}}">
      <img src="{{this.Followers.image}}" alt="{{this.Followers.name}}" class="img-thumbnail">
    </a>
  </div>
  {{/each}}
  {{else}}
  <div class="col-12">
    <p>目前沒有 follower（追蹤者）</p>
  </div>
  {{/if}}
</div>

{{!-- {{this.FavoritedRestaurants.id}} 有可能寫得更精簡嗎？ 該不會也要 data.rows.map(comment...) --}}
<p>{{followingsData.length}} followings（追隨的人）</p>
<div class="row">
  {{#if followingsData.length}}
  {{#each followingsData}}
  <div class="col-1 mb-3">
    <a href="/restaurants/{{this.Followeings.id}}">
      <img src="{{this.Followeings.image}}" alt="{{this.Followeings.name}}" class="img-thumbnail">
    </a>
  </div>
  {{/each}}
  {{else}}
  <div class="col-12">
    <p>目前沒有 followings（追隨的人）</p>
  </div>
  {{/if}}
</div>